#help {
	font-size: 24px;
}

.bookmarklink span {
	display: none;
}

.bookmarklink::before {
	color: white;
	content: 'Arraste-me para sua barra de favoritos'
}

input[type=color].form-control {
	padding: 3px 5px;
}

input[type=color].form-control::-webkit-color-swatch {
	border: gray 1px solid;
	border-radius: 2px;
}

#customCSS {
	font-family: monospace;
}

.preview {
	user-select: none;
}